@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Sacramento|Chelsea+Market);

/*font-family: 'Roboto', sans-serif;*/
/* light blue:E4F1FE*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.project-container {
	min-height: 400px;
}

#projects section  {
	padding:0;
}
#yeschef {
	background: url("../images/yeschef.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:auto;
}

#fi {
	background: url("../images/fi.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:auto;
}

#aboutme {
	background: url("../images/aboutme.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
}

.project{
	opacity: 0;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.project-container:hover .project {
	opacity: 1;
	color: white;
	display: block;
}

.project-container:hover {
	background-color: rgba(0,0,0,0.9);
	-webkit-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	transition: all linear 0.1s;
}

.project-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #31E7B6;
	font-size: 4em;
	border-bottom: 2px solid #31E7B6;
}

.project-desc {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #E4F1FE;
	font-size: 2em;
	line-height: 1.2em;
	display: block;
	margin-top: 10px;
}

.project-build {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #E4F1FE;
	font-size: 1.5em;
	display: block;
	margin-top: -15px;
}

.contact-container {
	min-height: 400px;
	background-color: #31E7B6;
}

.contact-container:hover .project {
	opacity: 1;
	color: white;
	display: block;
}
.contact-container:hover {
	background-color: rgba(0,0,0,1);
	-webkit-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	transition: all linear 0.1s;
}
.contact-container:hover h1 {
	opacity: 0;
}
.contact-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #000;
	font-size: 5em;
}
/*Buttons and Icons*/
.btn-visit {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #31E7B6;
	background: transparent;
	font-size: 20px;
	border: 1px solid #31E7B6;
	border-radius: 2px;	
	padding: 5px 25px;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 0 #31E7B6;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.btn-visit:hover {
	box-shadow: inset 0 0 0 50px #31E7B6;
	color: #000;
	text-decoration: none;
}

.fa-icon-custom {
	color: #fff;
	margin: 0 5px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.fa-icon-custom:hover {
	color: #31E7B6;
}









