@mixin btn-main {
	.btn-main,
	.btn-main:focus {
		font: {
			family: $ubuntu;
			weight: 400;
			color: $teal;
			size: 20px;
		}
		background: transparent;
		border: 1px solid $teal;
		border-radius: 2px;	
		padding: 15px 30px;
		text-transform: uppercase;
		text-decoration: none;
		box-shadow: inset 0 0 0 0 $teal;
		@include transition(all linear 0.2s);
		&:hover {
			box-shadow: inset 100px -100px 0 0 $teal;
			color: $black;
			text-decoration: none;
		}
	}
}




// @mixin transition($args...) {
// 	-webkit-transition: $args;
// 	transition: $args;
// }
// @mixin transition-delay($args...){
// 	-webkit-transition-delay: $args;
// 	transition-delay: $args;
// }
// @mixin translateX($args...) {
// 	-webkit-transform: translateX($args);
// 	transform: translateX($args);
// }
// @mixin translateY($args...) {
// 	-webkit-transform: translateY($args);
// 	transform: translateY($args); 
// }



.btn {
	width: 300px;
	height: 50px;
	background: transparent;
	position: relative;
	display: block;
	margin: 50px auto;
	cursor: pointer;
	text-align: center;
	&:hover {
		p {
			color: $teal;
			letter-spacing: 2px;
			font-weight: bold;
		}
	}
	svg {
		position: absolute;
		top: 0;
		left: 0; 
	}
	p {
		font: {
			family: 'Lato', sans-serif;
			weight: 800;
			size: 24px;
		}
		color: $white;
		line-height: 48px;
		letter-spacing: 1;
		margin: 0;
		width: 100%;
	}
	line {
		stroke-width: 4;
		stroke: $white;
	}
}

.btn3 {
	@extend .btn;

	&:hover {
		@include transition-delay(0s);
		svg line.top {
			@include translateX(-600px);
		}
		svg line.bottom {
			@include translateX(600px);
		}
		svg line.left {
			@include translateY(50px);
		}
		svg line.right {
			@include translateY(-50px);
		}
	}

	p {
		@include transition(all .3s ease-in-out);
	}

	svg {
		line {
			@include transition(all .3s ease-in-out);
		}
		line.top, line.bottom {
			stroke-dasharray: 300;
		}
		line.left, line.right {
			stroke-dasharray: 50;
		}
	}
}