section#intro {
	position: relative;
	background: radial-gradient(circle, rgba(0,0,0,.3), rgba(0,0,0,.8)),url('../images/site2_bg.jpg') center center no-repeat fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
	div.intro-text {
		padding: 260px 0;
		h1.intro-name {
			font-family: $ubuntu;
			text-align: center;
			color: #fff;
			font-size: 10em;
			@include desktop-sm {
				font-size: 7em;
			}
		}
		h5.intro-desc {
			text-align: center;
			color: #3ee4c4;
			font-size: 3em;
			@include ani-delay(.4s);
			@include desktop-sm {
				font-size: 2em;
			}
		}
	}
	div#downIcon_container {
		position: absolute;
		width: 100%;
		bottom: 5px;
		text-align: center;
		#downIcon {
			line-height: 0;
			@include ani-delay(.8s);
			i {
				font-size: 3em;
				color: #fff;
			}
		}

	}
}