@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	transition: $args;	
}
@mixin ani-delay($args...) {
	-webkit-animation-delay: $args;
	animation-delay: $args;
}
@mixin bg-properties {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:auto;
}

@mixin transition-delay($args...){
	-webkit-transition-delay: $args;
	transition-delay: $args;
}
@mixin translateX($args...) {
	-webkit-transform: translateX($args);
	transform: translateX($args);
}
@mixin translateY($args...) {
	-webkit-transform: translateY($args);
	transform: translateY($args); 
}



