@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Sacramento|Chelsea+Market);

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
}

/***************** LANDING PAGE *********************/

@media(max-width: 991px) {
	#intro {
		position: relative;
		background: radial-gradient(circle, rgba(0,0,0,.3), rgba(0,0,0,.8)),url('../images/site2_bg.jpg') center no-repeat;
		background-size: cover;
	}
	.intro-text {
		padding: 220px 0 240px 0;
	}

	#intro .intro-text h1 {
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		color: #fff;
		font-size: 4em;
	}

	#intro .intro-text h5 {
		text-align: center;
		color: #3ee4c4;
		font-size: 2em;
		-webkit-animation-delay: .4s;
		animation-delay: .4s;
	}
	.collapse_project {
		position: relative;
		text-align: center;
		background-color: #303030;
		height: 250px;
		padding: 15px 15px 15px 30px;
	}
	.project-container:hover .project {
		opacity: 0;
	}
	.project-container:hover {
		background-color: rgba(0,0,0,0.0);
	}
}

@media(min-width: 992px) {
	#intro {
		position: relative;
		background: radial-gradient(circle, rgba(0,0,0,.3), rgba(0,0,0,.8)),url('../images/site2_bg.jpg') center center no-repeat fixed;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
	.intro-text {
		padding: 260px 0 260px 0;
		font-size: .8em;
	}
	.collapse_project {
		display: none;
	}
	.project-container:hover .project {
		opacity: 1;
		color: white;
		display: block;
	}
	.project-container:hover {
		background-color: rgba(0,0,0,0.8);
		-webkit-transition: all linear 0.1s;
		-moz-transition: all linear 0.1s;
		transition: all linear 0.1s;
	}
}

#intro h1 {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 10em;
}

#intro h5 {
	text-align: center;
	color: #3ee4c4;
	font-size: 3em;
	-webkit-animation-delay: .4s;
	animation-delay: .4s;
}
#downIcon_container {
	position: absolute;
	width: 100%;
	bottom: 5px;
	text-align: center;

}
#downIcon_container p {
	font-size: 2em;
	color: #fff;
}
#downIcon {
	line-height: 0;
	-webkit-animation-delay: .8s;
	animation-delay: .8s;
}

/************** PROJECTS/NAV *********************/

#body_content {
	position: relative;
	padding: 0;
	box-shadow: 0 0px 36px 0px rgba(0,0,0,0.8);
}

#yeschef {
	background: url("../images/yc4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:auto;
}

#fi {
	background: url("../images/fi.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:auto;
}

#aboutme {
	background: url("../images/aboutme.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
}
#photos {
	background: url("../images/photos.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;	
}

.project{
	opacity: 0;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}
/*affects hover bg color*/
.box  {
	padding:0;
}
.project-container {
	min-height: 400px;
}

.project-title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	color: #31E7B6;
	font-size: 4em;
	border-bottom: 2px solid #31E7B6;
}

.project-desc {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #E4F1FE;
	font-size: 2em;
	line-height: 1.2em;
	display: block;
	margin-top: 10px;
}

.project-build {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #E4F1FE;
	font-size: 1.5em;
	display: block;
	margin-top: -15px;
}

@media(max-width: 991px) {
	.project-title {
		font-size: 2em;
	}
	.project-desc {
		font-size: 1.5em;
	}
	.project-build {
		font-size: 1em;
	}
}
/****************** FOOTER ******************/

#footer{
	background-color: #2F343A;
	height: 200px;
}
#footer h1 {
	color: #31e7b6;
	font-family: "Ubuntu", sans-serif;
	font-size: 4em;
	text-align: center;
	padding-top: 50px;
}
#contactme p {
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}
#contactme_proj {
	margin-top: 10px;
	display: block;
	text-align: center;
}
#contactme_proj a {
	font-size: 1.5em;
	color: #31e7b6;
	margin-right: 10px;
}
#contactme_proj a:hover {
	color: #fff;
	text-decoration: none;
}

@media (max-width: 768px) {
	#footer_content {
		display: none;
	}
	.collapse_footer ul {
		text-align: center;
		padding-top: 20px;
		font-family: 'Ubuntu', sans-serif;
		list-style: none;
		font-size: 1.5em;
		color:white;
	}
}
@media (min-width: 769px) {
	.collapse_footer {
		display: none;
	}
}
/****************** buttons and icons ******************/
.btn-visit,
.btn-visit:focus {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #3ee4c4;
	background: transparent;
	font-size: 20px;
	border: 1px solid #3ee4c4;
	border-radius: 2px;	
	padding: 15px 30px;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: inset 0 0 0 0 #3ee4c4;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	transition: all linear 0.3s;
}

.btn-visit:hover  {
	box-shadow: inset 100px -100px 0 0 #3ee4c4;
	color: #000;
	text-decoration: none;
}

.fa-icon-custom {
	color: #fff;
	margin: 0 5px;
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

.fa-icon-custom:hover {
	color: #3ee4c4;
}

/**************** Animated Button ***********************/
.button_box {
	width: 150px;
	height: 60px;
	position: relative;
	/*overflow: hidden;*/
	background-color: transparent;
}
.button_box p {
	font-size: 2em;
	color: white;
	margin: 10px 0 0 25px;
}

/*gif for load screen*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/ajax_loader_gray_64.gif') center no-repeat #fff;
}