@import "fonts";
@import "variables", "mixins", "mediaQueries", "buttons";
@import "hero", "projectDetails", "project", "footer";

/*       GENERAL         */
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
}

a:hover {text-decoration: none;}

/*gif for load screen*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/ajax_loader_gray_64.gif') center no-repeat #fff;
}



